.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin: 0 auto;
  max-width: 95vw;
}
.id-card {
  display: flex;
  border: 1px solid black;
}
.id-card-img {
  margin: 0.3em;
}
.id-card img {
  height: 80%;
}
.id-card-info {
  padding: 10px;
  margin: 0.3rem;
  line-height: 0.2;
}
